{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "overrides": [
        {
            "files": [
                "main.js"
            ],
            "rules": {
                "require-jsdoc": "off"
            }
        }
    ]
}